table{
    border:2px solid black;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    border: 1px solid black;
}
th{
    background-color: rgb(255, 145, 0);
    color: white;
}
.div1{
    margin-left: 25%;
}