.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    color: blue;
    margin-right: 37%;
    margin-left: 15%;
    
}

.pagination button {
    width: 20px;
    height: 20px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: rgb(128, 44, 44);
    border-color: rgb(22, 202, 76);
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}
